<h1><%= t('layout.home') %></h1>

<hr>

<div class="row">
	<% @products.in_groups_of(4, false) do |products| %>
	<div class="col-sm-12">
		<div class="row products">
			<%= render products, partial: "products/product" %>
		</div><!--/row-->
	</div><!--/col-12-->
	<% end %>
</div><!--/row-->
