<h1><%= t('layout.categories') %>: <%= @category.name %></h1>

<hr>

<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<% @category.products.in_groups_of(4, false) do |products| %>
			<div class="col-sm-12">
				<div class="row">
					<%= render products, partial: "products/product" %>
				</div><!--/row-->
			</div><!--/col-12-->
			<% end %>
		</div><!--/row-->
		<p>
			<div class="btn-group">
				<% if current_user && current_user.admin? %>
					<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-sm btn-default' %>
				<% end -%>
				<%= link_to 'Back to Home', root_path, class: 'btn btn-xs btn-default' %>
			</div>
		</p>
	</div>
</div>
