<span id="product_box_<%=product.id%>">
	<div class="col-md-3">
		<div class="well">
			<div class="text-center">
				<%= image_tag product.photo.url(:thumb), class: "well_product_photo" %>
			</div>
			<h4><span class="label <%= product.label %> pull-right" id="product_status_<%=product.id%>"><%= product.status_label %></span> <%= link_to product.name, product %></h4>
			Quantity: <strong><span id="product_quantity_<%=product.id%>"><%= product.quantity %></span></strong><br />
			Category: <strong><%= product.category.name %></strong><hr />
			<%= link_to t('more_details'), product, class: "btn btn-xs btn-default" %>
		</div>
	</div>
</span>
