<h1><%= t('layout.products') %>: <%= @product.name %></h1>
<hr />
<div class="row">
	<div class="col-sm-4">
		<%= image_tag @product.photo.url(:medium), class: "well_product_photo" %>
	</div>
	<div class="col-sm-8">
		<p>
			<strong>Category:</strong>
			<%= link_to @product.category.name, @product.category %>
		</p>

		<p>
			<strong>Quantity:</strong>
			<span id="product_quantity_<%=@product.quantity%>"><%= @product.quantity %></span>
		</p>

		<p>
			<span class="label <%= @product.label %>" id="product_status_<%=@product.id%>"><%= @product.status_label %></span>
		</p>
		<p>
			<div class="btn-group">
				<% if current_user && current_user.admin? %>
					<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-xs btn-default' %>
					<a href="javascript:;" class="btn btn-xs btn-default" id="reload_product" data-product-id="<%=@product.id%>">Update in Front</a>
				<% end -%>
				<%= link_to 'Back to Home', root_path, class: 'btn btn-xs btn-default' %>
			</div>
		</p>
	</div>
</div>
<br />
