<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= t(:application_name) %></title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag "application", :media => "all" %>

		<%= javascript_include_tag "application" %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body>

		<%= nav_bar fixed: :top, brand: t(:application_name), responsive: true do %>
			<%= menu_group do %>
				<%= menu_item t('menu.home'), root_path %>
				<%= menu_divider %>
				<%= drop_down t('menu.products') do %>
					<% Category.all.each do |category| %>
						<%= menu_item category.name, category_path(category) %>
					<% end -%>
				<% end %>
				<% if current_user %>
					<%= menu_item t('devise.edit_registration'), edit_user_registration_path %>
					<%= menu_item t('devise.log_out'), destroy_user_session_path, method: :delete %>
				<% else %>
					<%= menu_item t('devise.sign_in'), new_user_session_path %>
					<%= menu_item t('devise.register'), new_user_registration_path %>
				<% end %>
			<% end %>
		<% end %>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<%= bootstrap_flash %>
					<%= yield %>
				</div>

		</div> <!-- /container -->
		<footer>
			<p>&copy; <%= link_to t(:company_name), company_url_address, target: "_blank" %> <%= Date.today.year %></p>
		</footer>

	</body>
</html>
